<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="light">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img height="100" [src]="logo">
              </ion-col>
              <ion-col>
                <ion-title color="primary">
                  {{nom|uppercase}}
                </ion-title>
                <ion-item>
                  {{focus}}
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let menu of menus">
            <ion-item [routerDirection]="'root'" [routerLink]="[menu?.url]">
              <img height="70" [src]="menu?.icone" slot="start">
              <ion-label>{{menu.titre|uppercase}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
